@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #a85c01;
  --secondary: #252525;
  --description: #8a8a8a;
  --white: #ffffff;
  --white-soft: #f2f2f2;
  --search-input: #2e67bd;
  font-family: "Poppins";
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.padding-content {
  width: 100%;
  padding-inline: 8.795rem;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-montserrat {
  font-family: "Mont-serrat";
}

.top-navbar {
  width: 100vw;
  height: 4.167vw;
}

.img-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* FONT-SIZE */
.fs-12 {
  font-size: 0.795rem;
}

.fs-16 {
  font-size: 1.111vw;
}

.fs-18 {
  font-size: 1.25vw;
}

.fs-22 {
  font-size: 1.528vw;
}

.fs-36 {
  font-size: 36px;
}

.fs-48 {
  font-size: 3rem; /* convert dari 48px */
}

/* TEXT */
.text-white {
  color: var(--white);
}

.text-white-soft {
  color: var(--white-soft);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-description {
  color: var(--description);
}

.text-input {
  color: var(--search-input);
}

/* Background */
/* .bg-primary {
  background-color: var(--primary);
} */

.bg-secondary {
  background-color: var(--secondary);
}

/* ABOUT PAGE */
#about {
  position: relative;
}

#about .img-container {
  width: 505px;
  height: 367px;
}

/* Pastikan kamu sudah konfigurasi fontSize di tailwind.config.js */

.title-section {
  @apply text-msn-14 sm:text-msn-18 text-primary font-semibold mb-2;
}

.subtitle-section {
  @apply text-msn-28 sm:text-2xl md:text-3xl lg:text-msn-36 font-semibold lg:leading-[1.3] mb-4 text-secondary leading-tight;
}

.description-section {
  @apply text-msn-14 sm:text-msn-16 text-gray-soft leading-relaxed;
}

.label {
  @apply block text-sm font-medium text-secondary mb-4 lg:text-msn-18 lg:leading-[1.4];
}

.text-footer {
  @apply text-white hover:text-white transition-colors text-sm lg:text-msn-14;
}

.container-content {
  @apply relative px-40 md:px-14 lg:px-140;
}
