@import "tailwindcss";

:root {
  --primary: #a85c01;
  --secondary: #252525;
  --description: #8a8a8a;
  --white: #ffffff;
  --white-soft: #f2f2f2;
  font-family: "Poppins";
}

.text-white {
  color: var(--white);
}

.text-white-soft {
  color: var(--white-soft);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-description {
  color: var(--description);
}

/* Background */
.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}
