@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #a85c01;
  --secondary: #252525;
  --description: #8a8a8a;
  --white: #ffffff;
  --white-soft: #f2f2f2;
  --search-input: #2e67bd;
  font-family: "Poppins";
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.container-content {
  width: 100%;
  padding-inline: 9.722vw;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-montserrat {
  font-family: "Mont-serrat";
}

.top-navbar {
  width: 100vw;
  height: 4.167vw;
}

.img-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* FONT-SIZE */
.fs-12 {
  font-size: 0.795rem;
}

.fs-16 {
  font-size: 1.111vw;
}

.fs-18 {
  font-size: 1.25vw;
}

.fs-22 {
  font-size: 1.528vw;
}

.fs-36 {
  font-size: 36px;
}

.fs-48 {
  font-size: 3rem; /* convert dari 48px */
}

/* TEXT */
.text-white {
  color: var(--white);
}

.text-white-soft {
  color: var(--white-soft);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-description {
  color: var(--description);
}

.text-input {
  color: var(--search-input);
}

/* Background */
/* .bg-primary {
  background-color: var(--primary);
} */

.bg-secondary {
  background-color: var(--secondary);
}

/* ABOUT PAGE */
#about {
  position: relative;
}

#about .img-container {
  width: 505px;
  height: 367px;
}
